    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @Html.Gravatar(Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).email, 25, new { Title = Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).user, Alt = "Gravatar" })
        <span class="hidden-xs">@Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).user</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            @Html.Gravatar(Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).email, 90, new { Title = Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).user, Alt = "Gravatar" })
            <p>
                @Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).user
                <small>Mienbro desde @Dashboard.Models.userLogged.getUserData(int.Parse(User.Identity.Name)).fReg</small>
            </p>
        </li>                      
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat"><i class="fa fa-user-times"></i> Cerrar sesión</a>
                }
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat"><i class="fa fa-cog"></i></a>
            </div>
        </li>
    </ul>